node_modules
.env
.expo
.expo-home
.firebase
.npm-global
frontend/dist
dist
build
*.log
.DS_Store
backend/.env.render
backend/.env.render.template
Render_Test_Report.html
env.cloudrun.yaml
*openAI*.rtf
